
@inject  ISettingManager SettingManager
@inject ISettingProvider SettingProvider
@inject IUiNotificationService UiNotificationService
@inject IUnitOfWorkManager UnitOfWorkManager
@inherits MealPlannerAPIComponentBase

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Card>
            <CardHeader>
                <CardTitle>MealPlanner General Settings</CardTitle>
            </CardHeader>
            <CardBody TextAlignment="TextAlignment.Center">
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">
                        @L["Settings:EnableUI"]
                    </FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9" Display="Display.Flex" Flex="Flex.JustifyContent.Between">
                        @* Testing with a custom toggle switch implementation. 
                            <label class="toggle-switch">
                            <input type="checkbox" @bind="EnableUI" />
                            <span class="toggle-slider"></span>
                            <span class="toggle-label">
                                @(EnableUI? L["Common:Enabled"] : L["Common:Disabled"])
                            </span>ValueChanged="OnSwitchValueChanged"
                        </label> *@
                        <Switch @bind-Value="EnableUI"
                                
                                />
                    </FieldBody>
                    <FieldLabel ColumnSize="ColumnSize.Is3">
                        @L["Settings:EnableMockData"]
                    </FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9" Display="Display.Flex" Flex="Flex.JustifyContent.Between">
                        <Switch @bind-Value="EnableMockData"
                               
                                />
                    </FieldBody>
                </Field>

            </CardBody>
        </Card>
    </Column>
</Row>

<Row Class="mt-3">
    <Column>
        <Button Color="Color.Primary" Clicked="SaveAsync">
            @L["Common:Save"]
        </Button>
    </Column>
</Row>

@code{
    protected bool EnableUI { get; set; }
    protected bool EnableMockData { get; set; }
    protected override async Task OnInitializedAsync()
    {

        EnableUI = await SettingProvider.GetAsync<bool>(MealPlannerAPISettings.EnableUI);
        EnableMockData = await SettingProvider.GetAsync<bool>(MealPlannerAPISettings.EnableMockData);
    }

    protected async Task SaveAsync()
    {
        try
        {
            Console.WriteLine($"Saving setting: {MealPlannerAPISettings.EnableUI} = {EnableUI}");
            await SettingManager.SetGlobalAsync(
               name: MealPlannerAPISettings.EnableUI,
               value: EnableUI.ToString()
            );
            
            Console.WriteLine($"Setting saved successfully: {MealPlannerAPISettings.EnableUI} = {EnableUI}");

            await SettingManager.SetGlobalAsync(
               name: MealPlannerAPISettings.EnableMockData,
               value: EnableMockData.ToString()
            );
            await UiNotificationService.Success(L["Common:SavedSuccessfully"]);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error saving setting: {ex.Message}");
            await UiNotificationService.Error("Failed to save: " + ex.Message);
        }
    }
    private async Task OnSwitchValueChanged(bool newValue)
    {
        await SaveAsync();
    }
}