@using MealPlannerAPI.Settings
@using System.Threading.Tasks
@using Volo.Abp.SettingManagement
@using Volo.Abp.AspNetCore.Components;

@* @inherits MealPlannerAPIComponentBase *@
@inherits AbpComponentBase

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Card>
            <CardHeader>
                <CardTitle>MealPlanner General Settings</CardTitle>
            </CardHeader>
            <CardBody TextAlignment="TextAlignment.Center">
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">
                        @L["EnableUI"]
                    </FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9" Display="Display.Flex" Flex="Flex.JustifyContent.Between">
                        <label class="toggle-switch">
                            <input type="checkbox" @bind="EnableUI" />
                            <span class="toggle-slider"></span>
                            <span class="toggle-label">
                                @(EnableUI? L["Enabled"] : L["Disabled"])
                            </span>
                        </label>
                    </FieldBody>
                </Field>

            </CardBody>
        </Card>
    </Column>
</Row>

<Row Class="mt-3">
    <Column>
        <Button Color="Color.Primary" Clicked="SaveAsync">
            @L["Save"]
        </Button>
    </Column>
</Row>

@code{

}